/* Sign Up Form */
.row .form{
	margin: 20px 250px 30px;
	width: 300px;
	
}

.tb{
	 border:solid #dcdcdc 1px;
	 padding:25px;
	 box-shadow: 10px 10px 5px #888888;
	 margin: 70px 200 30px;
	 margin-top:25px;
	 margin-bottom:25px;
	 height:500px;
	 
	 
	 
	
}